.contact{
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-nol{
    flex-basis: 48%;
    color: #363434;
}
.contact-nol h2{
    color: #363434;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.contact-nol h2 img{
    width: 36px;
    margin-left: 10px;
}
.contact-nol p{
    max-width: 450px;
    list-style: 0.3;
}
.contact-nol ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.contact-nol ul li img{
    width: 25px;
    margin-right: 10px;
}
.contact form input, .contact form textarea{
    display: block;
    width: 100%;
    background: #d2d2d6bb;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}
.contact-nol span{
    display: block;
    margin: 20px 0;
}



















@media (max-width: 700px){
    .contact{
        display: block;
    }
    .contact-col{
        padding: 20px;
    }
}